@import './_typography.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html, body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'BentonSans', sans-serif;
}

img {
  //max-width: 100%;
}

hr {
  border-top-color: $grey-100;
}

a,
button {
  transition: $link-fade-time;
}

a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus, {
  outline: none;
}
