// Colors
//
$brand-color-surf-500: #39C2C9;
$brand-color-surf-300: #00FFF8;
$brand-color-surf-700: #227270;

$brand-color-sunrise-500: #F6682F;
$brand-color-sunrise-300: #FFA71A;
$brand-color-sunrise-700: #BF4C28;

$brand-color-deepsea-500: #007F8C;
$brand-color-deepsea-300: #00D8D2;
$brand-color-deepsea-700: #003C3F;

$brand-color-aloe-500: #6AEDC7;
$brand-color-aloe-300: #C0FFE7;
$brand-color-aloe-700: #479980;

$gradient-yellow: #FFB91D;
$gradient-orange: #F6682F;
$gradient-green: #00FFB0;
$gradient-blue: #39C2DF;
$gradient-lightblue: #00FFF8;
$gradient-darkblue: #00719A;
$gradient-pink: #FF1AB3;
$gradient-red: #F6682F;

$secondary-color-purple: #6B1C60;
$secondary-color-pink: #FF1AB3;
$secondary-color-yellow: #FFCE00;

$color-action-green: #60DBA2;
$color-error-red: #FF584C;

$white: #fff;

// Greys
//
$grey-100: #F8FAFF;
$grey-200: #EDEFF5;
$grey-300: #D2D6DF;
$grey-400: #C3C6CF;
$grey-500: #9B9EA7;
$grey-600: #6D717A;
$grey-700: #45494E;
$grey-800: #363A43;
$grey-900: #282C35;

// Font Sizes
//
$font-size-lg: 4.3rem;
$font-size-lg-line: 5rem;
$font-size-lg-spacing: 0.01rem;

$font-size-med: 2.6rem;
$font-size-med-line: 3rem;
$font-size-med-spacing: 0.02rem;

$font-size-sm: 2rem;
$font-size-sm-line: 2.72rem;
$font-size-sm-spacing: 0.01rem;

$font-size-base: 1.2rem;
$font-size-base-line: 1.6rem;
$font-size-base-spacing: 0.01rem;

$font-size-xxl: 15.4rem;
$font-size-xxl-line: 16.4rem;
$font-size-xxl-spacing: 0.001rem;

$font-size-xl: 10.4rem;
$font-size-xl-line: 10.4rem;
$font-size-xl-spacing: 0.001rem;

$font-size-caption: 0.92rem;
$font-size-caption-line: 1.25rem;
$font-size-caption-spacing: 0.001rem;

$bold: 600;
$regular: 400;
$light: 200;

// Padding
//
$margin-v-default: 25px;
$margin-v-thin: 15px;
$margin-v-atom: 10px;
$margin-h-atom: 14px;
$margin-h-default: 20px;

$gutter-h-default: 20%;
$gutter-h-narrow: 15%;
$gutter-h-thin: 10%;

// Other
//
$border-radius-none: 0;
$border-radius-xsmall: 2px;
$border-radius-small: 4px;
$border-radius-base: 8px;
$border-radius-large: 10px;

$link-fade-time: 0.2;
$link-fade-time-s: 0.2s;

// Screen Width
//
$screen-full-width: 100vw;
$screen-full-height: 100vh;